.App {
  text-align: center;
}
.Container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.PokemonCard {
  min-width: 250px;
  margin: 5px;
}
a {
  text-decoration: none;
  color: black;
}
.App {
  background-color: #970707d6;
  min-height: 100vh;
}
